<template>
    <button class="u-btn" @click="$emit('on_click')">{{ $props.label }}</button>
</template>

<script>
export default {
    name: 'U-button',
    emits: ['on_click'],
    props: {
        label: { type: String, default: '' }
    }
}
</script>

<style lang="scss" scoped>
.u-btn {
    background: transparent;
    border: none;
    color: #223311;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 3px;
}
</style>