<template>
    <input type="text" v-bind:value="value" @input="$emit('input', $event.target.value)">
</template>

<script>
export default {
    name: 'U-input',
    props: {
        value: {
            type: String,
            default: ''
        }
    }
}

</script>