<template>
    <div class="paginate">
        <button @click="on_click_page('back')">{{ '<' }}</button>
                <div v-for="page in pages" :key="page">
                    <div :class="{
                        'paginate__page': true,
                        active: page === $props.pagination.page
                    }" @click="on_click_page(page)">
                        {{ page }}
                    </div>
                </div>
                <button @click="on_click_page('next')">{{ '>' }}</button>
    </div>
</template>

<script>
import { paginate } from '../shared';

export default {
    name: 'U-paginate',
    emits: ['click_page'],
    data() {
        return {
            pages: []
        }
    },
    props: {
        pagination: {
            type: Object,
            default: () => { }
        },
    },
    mounted() {
        this.pages = paginate(this.$props.pagination.page, this.$props.pagination.pages)
    },
    methods: {
        on_click_page(page) {
            if (!isNaN(page)) {
                this.$emit('click_page', page)
            } else {
                if (page === 'next' && this.last_page) {
                    this.$emit('click_page', this.$props.pagination.page + 1)
                } else if (page === 'back' && this.first_page) {
                    this.$emit('click_page', this.$props.pagination.page - 1)
                }
            }
        }
    },
    watch: {
        pagination(v) {
            this.pages = paginate(v.page, v.pages)
        }
    },
    computed: {
        last_page() {
            console.log(this);
            return this.$props.pagination.page < this.$props.pagination.pages
        },
        first_page() {
            return this.$props.pagination.page > 1
        }
    }
}
</script>

<style lang="scss">
.paginate {
    display: inline-flex;
    align-items: center;
    gap: 15px;

    &__page {
        cursor: pointer;

        &.active {
            color: red;
        }
    }
}
</style>