<template>
    <div>
        <h1>404. 😒</h1>
        <router-link to="/users">Вернитесь назад к поиску</router-link>
    </div>
</template>


<script>
export default {
    name: 'ErrorPage'
}
</script>

<style scoped>
h1 {
    font-size: 95px;
    line-height: 30px;
}
a {
    text-decoration: none;
    font-size: 14px;
    color: #223311;
    border: 1px solid #9aa2ac;
    border-radius: 3px;
    padding: 11px 13px;
}
</style>