<template>
    <div id="home">
        Search...
        <div class="home__actions">
            <U-input v-model="search"/>
            <U-button :label="label" @on_click="on_click"/>
        </div>
        <UserList v-if="!loading" :users="users"/>
        <U-loader v-else/>
        <U-paginate v-if="users.length && total_count > 1" :pagination="{ pages: total_count, page: page }"
                    @click_page="on_click_page"/>
    </div>
</template>


<script>
import {debounce} from '../shared';
import UInput from '../ui/U-input.vue';
import UButton from '../ui/U-button.vue';
import UserList from '../components/User-list.vue';
import UPaginate from '../ui/U-paginate.vue';
import {get_users} from '../services/users'
import ULoader from '../ui/U-loader.vue'

export default {
    components: {UInput, UserList, UButton, UPaginate, ULoader},
    name: 'HoveView',
    data() {
        return {
            search: '',
            users: [],
            sort_type: 'desc',
            per_page: 8,
            page: 1,
            total_count: null,
            loading: false
        }
    },
    created() {
        this.get_new_users = debounce(this.get_new_users)
    },
    methods: {
        async get_new_users(inp, order, page) {
            try {
                this.loading = true
                const res = await get_users(inp, this.per_page, order ?? this.soty_type, page)
                this.users = res.items ?? []
                this.total_count = Math.ceil(res.total_count / this.per_page)
            } catch (e) {
                console.error(e);
            } finally {
                this.loading = false
            }
        },
        on_click() {
            if (this.users.length) {
                this.sort_type === 'desc' ? this.sort_type = 'asc' : this.sort_type = 'desc'
            } else {
                alert("Нечего сортировать 😐")
            }
        },
        on_click_page(p) {
            this.page = p
        }
    },
    computed: {
        label() {
            return 'Сортировка по: ' + (this.sort_type === 'desc' ? 'убыванию' : 'возрастанию')
        }
    },
    watch: {
        search(search_val) {
            this.get_new_users(search_val, this.sort_type, this.page)
        },
        sort_type(type) {
            this.get_new_users(this.search, type, this.page)
        },
        page(p) {
            this.get_new_users(this.search, this.sort_type, p)
        }
    },
}
</script>

<style lang="scss" scoped>
#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
}
</style>