<template>
    <div v-if="user" class="user">
        <h1>Информация о пользователе {{ $route.params.login }}</h1>
        <div v-if="!loading" class="user__info">
            <img class="user__img" :src="user.avatar_url" :alt="$route.params.login">
            <div class="user__data">
                <span>Аккаунт создан: <span>{{ user.created_at }}</span></span>
                <span>Подписчиков: <span>{{ user.followers }}</span></span>
                <a target="_blank" :href="user.html_url">Ссылка на github</a>
                <span>Публичных репозиториев: <span>{{ user.public_repos }}</span></span>
                <span>Ссылка на твиттер <span>{{ user.twitter_username || 'Ссылки нет 😓' }}</span></span>
            </div>

        </div>
        <ULoader v-else/>
        <button @click="$router.back()">Вернуться к поиску</button>
    </div>
    <div v-else>
        User not found. Повторите попытку или вернитесь к
        <router-link to="/users">поиску</router-link>
    </div>
</template>

<script>

import ULoader from "../ui/U-loader.vue";
import {get_user_info} from "../services/user";

export default {
    components: {ULoader},
    name: 'InfoPage',
    data() {
        return {
            loading: false,
            user: {}
        }
    },
    async mounted() {
        try {
            this.loading = true
            const res = await get_user_info(this.$route.params.login)
            if (!res.message) {
                this.user = res
                return
            }
            this.user = null
            console.log(this.user)
        } catch (error) {
            console.error(error);
        } finally {
            this.loading = false;
        }
    }
}
</script>

<style lang="scss" scoped>
.user {
  h1 {
    font-size: 55px;
  }

  &__img {
    width: 140px;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 8px;
    border-left: 1px solid #231;
    gap: 30px;

    span {
      span {
        color: red;
      }
    }
  }

  button {
    display: block;
    margin: 30px 0 0 30px;
  }
}
</style>