<template>
    <div v-if="users.length" class="user-list">
        <div v-for="user in users" :key="user.id" class="user-list__user">
            <div @click="on_click(user)">
                <div class="user-list__name">{{ user.login }}</div>
                <img class="user-list__img" :src="user.avatar_url" />
            </div>
        </div>
    </div>
    <div v-else>Список пользователей пуст. Воспользуйтесь поиском</div>
</template>

<script>
export default {
    name: 'User-list',
    props: {
        users: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        on_click(user) {
            this.$router.push({ path: 'users/' + user.login })
        }
    },
    mounted() {
        console.log(123);
    }
}
</script>

<style lang="scss" scoped>
.user-list {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    &__user {
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 133px;
    }

}
</style>